.pagebody {
  margin: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80dvh;
  /* flex-grow: 1; */
}



.card {
  padding: 1rem 5rem;
  border-radius: var(--border-radius);
  background: var(--button-primary);
  border: 1px solid var(--border-secondary);
  width: fit-content;
  text-decoration: none;
  /* transition: background 200ms, border 200ms; */
}

/* .card span {
  display: inline-block;
  transition: transform 200ms;
} */

.card h2 {
  color: var(--button-secondary);
  /* text-decoration: none; */
}



