@import 'bootstrap';
@import 'bootstrap-icons';


:root {

  --text-primary: #000000;
  --text-secondary: #FFFFFF;

  --border-primary: #0a0a0a;
  --border-secondary: #F3F3F3;

  --success: #097b11;
  --failure: #7b090b;


}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-image: url("../assets//bodybg.png");
  max-width: 100vw;
  overflow-x: hidden;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
} */

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}