@import 'bootstrap';
@import 'bootstrap-icons';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {


  --text-primary: #000000;
  --text-secondary: #FFFFFF;

  --border-primary: #0a0a0a;
  --border-secondary: #F3F3F3;

  --success: #097b11;
  --failure: #7b090b;


  --fs-sm: clamp(0.42rem, 0.54vi + 0.26rem, 0.75rem);
  --fs-base: clamp(0.56rem, 0.72vi + 0.35rem, 1rem);
  --fs-md: clamp(0.75rem, 0.96vi + 0.47rem, 1.33rem);
  --fs-lg: clamp(1rem, 1.28vi + 0.63rem, 1.78rem);
  --fs-xl: clamp(1.33rem, 1.71vi + 0.83rem, 2.37rem);
  --fs-2xl: clamp(1.78rem, 2.27vi + 1.11rem, 3.16rem);
  --fs-3xl: clamp(2.37rem, 3.03vi + 1.48rem, 4.21rem);
  --fs-4xl: clamp(3.16rem, 4.04vi + 1.97rem, 5.61rem);
  --fs-5xl: clamp(4.21rem, 5.39vi + 2.63rem, 7.48rem);
  --fs-6xl: clamp(5.61rem, 7.18vi + 3.51rem, 9.97rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-image: url("../assets//bodybg.png");
  max-width: 100vw;
  overflow-x: hidden;
}


}


@media (min-width:1440) {
  html {
    size: 16px;
  }
}

h1 {
  font-family: 'Poppins';
  color: var(--text-primary);
  text-align: center;
}


h2 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 800;
  color: var(--text-primary);
  text-align: center;

}

p {
  font-family: 'Plus Jakarta Sans';
  color: var(--text-primary);
  text-align: center;


}